
html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
} 

.content {
      flex: 1 0 auto;
}

nav img {
    max-height: 70px;
} 

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: 40vw;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents 
    text-align: center; */ 
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.bold {
    font-weight:bold;
}

.title{
    padding-left:200px;
}

footer {
  flex-shrink: 0;
}