
html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
} 

.content {
      flex: 1 0 auto;
}

nav img {
    max-height: 70px;
} 

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: 40vw;
}

.title{
    padding-left:200px;
}

footer {
  line-height: 2rem;
  flex-shrink: 0;
}

.footer {
  margin: 0 auto;
  width: 70vw;
}

footer a{
  font-weight: bold;
}

@media only screen and (max-width: 700px) {

      footer {
      line-height: 1rem;
      font-size: .7rem;
      flex-shrink: 0;
    }

    .footer {
      margin: 0 auto;
      width: 100vw;
    }


}