{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
 
<div class="m-5"> </div>
 
  
<div class="card bg-light mb-3">
    <div class="card-header"> 
            <a href="{{ url_for('book', book_id=book.id) }}"> <h4 style="display:inline;">{{ book.title  }}</h4></a> 

            <h5 class="card-title">by: {{ book.author }}</h5>
        
    
</div>
    <div class="card-body">
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width:{{ ratings }}%" aria-valuenow="{{ ratings }}" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <span class="right"> Current Rating on Goodreads: {{ goodreads_book[0]['average_rating'] }} out of 5 </span>
        
        <br> <br>
        <p class="card-text">Published: {{ book.year }} <br>
            ISBN:{{ book.isbn }}</p>
        <p>Number of ratings on goodreads: {{ goodreads_book[0]['work_ratings_count'] }}&nbsp;&nbsp;&nbsp; Number of reviews on goodreads: {{ goodreads_book[0]['work_reviews_count'] }}</p>
    </div>
</div>

{% if review_results %}
    <div class="m-5"> </div> 

    <div class="ml-3">
        <h4> Reviews of {{ book.title }} </h4>
    </div>

        {% for review,user in review_results %}

        <div class="card bg-light mb-3">
        <div class="card-body">

        <p>   {{ review.review }} </p>
        <p> Rating: {{ review.rating }} out of 5 
        <br> by: {{ user }} </p>
        {% if user == current_user %}
         <a href="{{ url_for('review',review_id=review.id) }}"><button class="btn btn-primary">  Edit Review </button> </a> 
        {% endif %}
        </div>
        </div>
        
        <div class="m-3"> </div>
        
        {% endfor %}

    <div class="m-5"> </div>

{% endif %}


<div class="m-5"> </div>
{% if current_user == 0 %}

<h4 class="m-3"> <a href="{{ url_for('register') }}">Register</a> or <a href="{{ url_for('login') }}">Login</a> to leave your own review. </h4>

{% endif %}
 

{% if review_input and current_user != 0 %}

<form action="{{ url_for('book', book_id=book.id) }}" method="post" class="m-3">
    <div class="form-group">
        <h4>Add your own rating or review for {{ book.title }} </h4>
        <br>
        <p style="display:inline"> Rating </p> &nbsp;
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="options" id="inlineRadio1" value="1">
            <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="options" id="inlineRadio2" value="2">
            <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="options" id="inlineRadio3" value="3">
            <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="options" id="inlineRadio4" value="4" >
            <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="options" id="inlineRadio5" value="5" >
            <label class="form-check-label" for="inlineRadio5">5</label>
        </div>

        <div class="mb-3">
            <br><br>
            <label for="review">Review</label>  <br>
            <textarea class="form-control" id="review" name="review" placeholder="Your review of {{ book.title }}"></textarea>
            <div class="invalid-feedback">
                Please enter a message in the textarea.
            </div>
        </div>
        <button class="btn btn-primary" id="submit" type="submit">Submit</button>
    </div>
</form>

{% endif %}


{% endblock %}