{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
  

<form action="/" method="post" class="m-2">
    <div class="form-group">
        <h4>Search for a book </h4>
            <input autocomplete="off" id="book" autofocus class="form-control m-2" name="book"
                placeholder=" Title, Author, ISBN " type="text"> 
            <button class="btn btn-primary" id="submit" type="submit">Search</button>
    </div>
</form> 

<div class="m-5"> </div> 

{{ books }}  <br><br>
{{ goodreads }}
{% if request.method == "POST" %}
    {% for book in books %} 
        <div class="card bg-light mb-3">
            <div class="card-header"><h4>{{ book.title  }}</h4> {{ book.average_rating }} </div>
            <div class="card-body">
                <h5 class="card-title">by: {{ book.author }}</h5>
                <p class="card-text">Published: {{ book.year }} </p> 
                <p>ISBN:{{ book.isbn }}</p>
                <p>Ratings: {{ book.ratings_count }} Reviews: {{ book.review_count }}</p>
            </div>
        </div>

        <div class="m-2"> </div>
    {% endfor %}     
{% endif %}

{% endblock %}